# IDE и временные файлы
.idea/
.temp/

# Файлы окружения
.env*
*.env

# Node.js зависимости
node_modules/
.yarn/
package-lock.json
yarn.lock

# Файлы кэша Next.js
.services/frontend/.next
.services/backend/.next
